/*
Theme Name: Energia
Author: Rafinha Fernandes
Description: 
Requires at least: 5.9
Tested up to: 5.9
Requires PHP: 5.6
Version: 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #0C4A9C;
    --primary-color-hover: #30A4E4;
    --secondary-color: #36A984;
    --secondary-color-hover: #1f5d49;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
:hover {
    transition: 0.3s;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.col-2 {
    grid-column: col-start / span 2;
}
.col-3 {
    grid-column: col-start / span 3;
}
/************************
*
*  HEADER 
*
************************ */
header {
    display: flex;
    font-weight: 800;
    box-shadow: #ccc 0px 2px 8px;
    padding: 20px;
}
header .logo {
    flex: 1;
    padding: 15px;
}
header .menu {
    flex: 5;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
header .menu li{
    list-style: none;
}
header .menu li a{
    list-style: none;
    font-weight: 800;
    font-size: 18px;
}
header .menu li a:hover{
    color: var(--primary-color-hover);
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 5px;
}
header .telephone {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
header .button {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
header .button a {
    background-color: var(--secondary-color);
    color: #fff;
    display: block;
    padding: 20px 30px;
    border-radius: 50px;
}
header .button a:hover {
    background-color: var(--secondary-color-hover);
    text-decoration: none;
}
.volta-as-aulas h2{
    background-image: url(assets/img/border-text-green.png);
    background-repeat-y: no-repeat;
    background-position: 0 75px;
    display: inline-block;
}
/************************
*
*  MATRÍCULA 
*
************************ */
#matricula .title-section h2{
    background-image: url(assets/img/border-text-green.png);
    background-repeat-y: no-repeat;
    background-position: 0 28px;
    display: inline-block;
    padding: 0 5px;
}
#matricula .form-matricula input,
#matricula .form-matricula textarea {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 25px;
}
#matricula .form-matricula .wpforms-submit-container {
    display: flex;
    justify-content: end;
}
#matricula .form-matricula button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}
#matricula .form-matricula button:hover {
    background-color: var(--secondary-color-hover);
}
#matricula .form-matricula .wpforms-field-container {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    column-gap: 20px;
}
/************************
*
*  SOBRE 
*
************************ */
#sobre .title-section h2{
    background-image: url(assets/img/border-text-orange.png);
    background-repeat-y: no-repeat;
    background-position: 0 28px;
    display: inline-block;
    padding: 0 5px;
}
/************************
*
*  INSTALAÇÕES 
*
************************ */
#instalacoes .title-section h2{
    background-image: url(assets/img/border-text-orange.png);
    background-repeat-y: no-repeat;
    background-position: 0 28px;
    display: inline-block;
    padding: 0 5px;
}
/************************
*
*  EQUIPE 
*
************************ */
#equipe .title-section h2{
    background-image: url(assets/img/border-text-orange-dark.png);
    background-repeat-y: no-repeat;
    background-position: 0 28px;
    display: inline-block;
    padding: 0 5px;
}
/************************
*
*  DEPOIMENTOS 
*
************************ */
#depoimentos .title-section h2{
    background-image: url(assets/img/border-text-red.png);
    background-repeat-y: no-repeat;
    background-position: 0 28px;
    display: inline-block;
    padding: 0 5px;
}
#depoimentos .blocks .elementor-container {
    gap: 20px;
}
/************************
*
*  FOOTER 
*
************************ */
footer {
    background-color: #E1E1E1;
    padding: 50px 0;
}
footer .footer-top {
    display: flex;
}
footer .logo {
    flex: 1;
}
footer .menu {
    display: flex;
    gap: 20px;
    align-self: center;
    flex: 1;
    justify-content: end;
}
footer .menu li{
    list-style: none;
}
footer .menu li a{
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-color: var(--secondary-color);
}
footer .menu li a:hover{
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 5px;
}
footer hr {
    border: 1px solid var(--primary-color);
    margin-top: 30px !important;
}
footer .footer-bottom {
    margin: 30px auto 30px auto;
    height: auto;
    display: table;
}
footer .footer-bottom h2{
    margin-bottom: 10px;
}
footer .footer-bottom .left{
    text-align: left;
    float: left;
}
footer .footer-bottom .right{
    text-align: left;
    float: right;
}
footer .footer-bottom .right a{
    margin-left: 15px;
    text-decoration: none;
}

/************************
*
*  RESPONSIVO 
*
************************ */
@media (max-width: 767px) {
    .container {
        width: 100% !important;
    }
    header {
        display: none;
    }
    footer {
        padding: 50px 0;
    }
    footer .footer-top {
        flex-direction: column;
        text-align: center;
    }
    footer hr {
        margin-top: 30px !important;
    }
    footer .footer-bottom {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    #matricula .title-section h2 {
        background-position: 0 20px;
        font-size: 30px !important;
    }
    #trajetoria .title-section h2 {
        background-position: 0 20px;
        font-size: 30px !important;
    }
    #instalacoes .title-section h2 {
        background-position: 0 20px;
        font-size: 30px !important;
    }
    #equipe .title-section h2 {
        background-position: 0 20px;
        font-size: 30px !important;
    }
    #depoimentos .title-section h2 {
        background-position: 0 20px;
        font-size: 30px !important;
    }
    #matricula .form-matricula .wpforms-field-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    #depoimentos .blocks .elementor-container {
        gap: 0px !important;
    }
}

@media (max-width: 1060px) {
    header .button a {
        font-size: 12px !important;
    }
    header .telephone {
        font-size: 12px !important;
    }
    header .menu li a {
        font-size: 14px !important;
    }
}

@media (max-width: 1150px) {
    .container {
        width: 1000px;
    }
    header .button a {
        font-size: 14px;
    }
    header .telephone {
        font-size: 14px;
    }
    header .menu li a {
        font-size: 16px;
    }
}

@media (max-width: 1250px) {
    .container {
        width: 1000px;
    }
    header .button a {
        font-size: 14px;
    }
}


